In [1]:
print("a")

a

Merhaba

herhangi başka şeyler de yazılabilir

_italik_
**kalin**

In [2]:
"a"

'a'

---

# Numpy Giriş

- Numerical Python
- Bilimsel hesaplamalar için kullanılır.
- Arrayler / çok boyutlu arrayler ve matrisler üzerinde yüksek performanslı çalışma imkanı sağlar.
- Listelere benzerdir, farkı; verimli veri saklama ve vektörel operasyonlardır. Listelerdeki tutulan tüm öğeler için ayrı ayrı tip bilgisi ve ek bilgiler tutulur, numpy'da ise kullanılacak veri tipleri arasında bir ayrım yoktur, numpy hepsini fixed type(sabitlenmiş tipe) zorlar(hepsinin tipi aynı olacak yani)  bu sayede tek bir tip bilgisi tutar, bu şekilde numpy daha az maliyetlidir. Bu sayede veri saklama anlamında çok ciddi performans sağlar.
![numpy array yapısı](img/numpy-001.png)

## Neden NumPy?
- NumPy'ı daha üst seviyeden, daha az çabayla, daha büyük işler yapabilme olanağı sağladığından dolayı kullanıyor olacağız.
- Yer tutma maliyetlerini NumPy çok azaltmaktadır.

In [8]:
a = [1,2,3,4]
b = [2,3,4,5]
a
b # sadece en son ne yazdıysak onu yazdırır

[2, 3, 4, 5]

In [9]:
a

[1, 2, 3, 4]

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3,4]) # numpy array veri tipinde
b = np.array([2,3,4,5])

In [12]:
a * b

array([ 2,  6, 12, 20])

## Numpy Array Oluşturmak
- Sıfırdan veya listeler üzerinde NumPy Array oluşturulabilir.

Numpy array, numpy kütüphanesi içerisinde yer alan veri tipidir (listeler, tuple ve sözlükler gibi).

In [15]:
import numpy as np

In [4]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [5]:
a = np.array([1,2,3,4,5])

In [6]:
type(a)

numpy.ndarray

In [16]:
np.array([3.14, 4, 2, 13]) #sabit tip baskısı - NumPy array tek tip veri tutar. 
                           #Böylece bir tane veri tutar ve veri tutma maliyeti düşürülür

array([ 3.14,  4.  ,  2.  , 13.  ])

In [19]:
np.array([3.14, 4, 2, 13], dtype = "int")

array([ 3,  4,  2, 13])

## Sıfırdan array oluşturma

In [17]:
np.zeros(10, dtype = int) # 0 lardan oluşan int tipinde nd array oluştur.

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [18]:
np.ones((3,5), dtype= int)  # iki boyutlu 1lerden oluşan nd array oluştur.

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [19]:
np.full((3,5), 3) # Sadece 3lerden oluşan ve bizim verdiğimiz boyut bilgisiyle oluşan array

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [28]:
np.arange(0,31,3) # 0'dan 31'e kadar 3er 3er artacak bir dizi oluşturmak 
                  # arange fonksiyonunu çok sık kullanacağız.

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [29]:
np.linspace(0, 1, 10) # O ile 1 arasında 10 tane değer oluştur

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

In [30]:
np.random.normal(10, 4, (3,4)) # Ortalaması 10, Standart sapması 4 olan 2 boyutlu (3e4) random array oluştur.
                               # random.normal fonksiyonunu çok sık kullanacağız.

array([[ 7.25146931,  6.8703473 ,  3.94723798,  4.42124934],
       [18.91699769, 12.77242545, 12.43752782, 20.54370614],
       [15.51037639, 12.84345899,  9.57200393, 15.94204809]])

- Tek boyutlu array'ın karşılığı **Vektör** dür.
- İki boyutlu array'ın karşılığı **Matris** dir.

In [31]:
np.random.randint(0, 10, (3,3)) # Dağılımla ilgilenmiyorum, integer değerlerden rastgele oluşmuş bir array
                                # O'dan 10'a kadar 3e3lük bir random matris oluştur.
                                # random.randint fonksiyonunu çok sık kullanacağız.

array([[7, 1, 5],
       [1, 0, 1],
       [8, 1, 3]])

## NumPy Array Özellikleri

* ndim: boyut sayısı
* shape: boyut bilgisi
* size: toplam eleman sayısı
* dtype: array veri tipi

In [127]:
import numpy as np

In [128]:
np.random.randint(10, size = 10)

array([6, 5, 4, 7, 3, 9, 9, 7, 5, 9])

In [129]:
a = np.random.randint(10, size = 10)

In [130]:
a

array([1, 2, 9, 1, 4, 8, 5, 9, 9, 0])

In [131]:
a.ndim

1

In [132]:
a.shape

(10,)

In [133]:
a.size

10

In [134]:
a.dtype

dtype('int32')

In [48]:
b = np.random.randint(10, size = (3,5))

In [49]:
b

array([[7, 6, 4, 1, 8],
       [4, 3, 4, 8, 5],
       [5, 4, 3, 6, 8]])

In [50]:
b.ndim

2

In [51]:
b.shape

(3, 5)

In [52]:
b.size

15

In [53]:
b.dtype

dtype('int32')

## Yeniden Şekillendirme(reshaping)

In [54]:
import numpy as np

In [55]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Bu array üzerinden 3e3lük array oluşturalım:

Bazen çalışmalarda fonksiyonların veya döngülerin üretmiş olduğu çıktılar tek bir boyutta(tek bir array formunda) gerçekleşebiliyor. Bunları bazen tek boyuttan iki boyuta, bazen de iki boyuttan tek boyuta indirilme ihtiyacları ortaya çıkabiliyor. Bu sebeple bu yapısal dönüşümleri iyi kavramak gerekir. Buna benzer ihtiyaçlarla **reshape** fonksiyonuyla başa çıkabiliyoruz

In [57]:
np.arange(1,10).reshape((3,3))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [58]:
a = np.arange(1,10)

In [59]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [60]:
a.ndim

1

In [62]:
b = a.reshape((1,9)) # tek satır 9 sütun | artık bir matristir, array değil.

In [63]:
b.ndim

2

## Array Birleştirme (Concatenation)

In [64]:
import numpy as np

In [65]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [70]:
# Tek boyut

In [67]:
np.concatenate([x,y])

array([1, 2, 3, 4, 5, 6])

In [68]:
z = np.array([7,8,9])

In [69]:
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [71]:
# İki boyut

In [72]:
a = np.array([[1,2,3],
              [4,5,6]])

In [73]:
np.concatenate([a,a])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [74]:
np.concatenate([a,a], axis = 1) # Satır bazında değil sütun bazında

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [75]:
np.concatenate([a,a], axis = 0) # Sütun bazında değil satır bazında birleştirir.

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

## Array Ayırma (Splitting)

In [79]:
import numpy as np

In [81]:
x = np.array([1,2,3,99,99,3,2,1])

In [83]:
np.split(x, [3,5]) # 3'e kadar olan(indeks sayısına göre) ve 5'e kadar olan arrayleri ayır

[array([1, 2, 3]), array([99, 99]), array([3, 2, 1])]

In [84]:
a,b,c = np.split(x, [3,5])

In [85]:
a

array([1, 2, 3])

In [86]:
b

array([99, 99])

In [87]:
c

array([3, 2, 1])

### İki boyutlu ayırma

In [88]:
m = np.arange(16).reshape(4,4)

In [89]:
m

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [90]:
np.vsplit(m, [2])

[array([[0, 1, 2, 3],
        [4, 5, 6, 7]]),
 array([[ 8,  9, 10, 11],
        [12, 13, 14, 15]])]

In [91]:
ust, alt = np.vsplit(m, [2])

In [92]:
ust

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [93]:
alt

array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [94]:
m

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [95]:
np.hsplit(m, [2])

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15]])]

In [96]:
sag, sol = np.hsplit(m,[2])

In [97]:
sag

array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]])

In [98]:
sol

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]])

## Sıralama (Sorting)

In [99]:
import numpy as np

In [100]:
v = np.array([2,1,4,3,5])

In [101]:
v

array([2, 1, 4, 3, 5])

In [102]:
np.sort(v)

array([1, 2, 3, 4, 5])

In [103]:
v

array([2, 1, 4, 3, 5])

In [104]:
v.sort()

In [105]:
v

array([1, 2, 3, 4, 5])

np.sort(v), sort metodu, numpy'ın içerisinden çağırıldığında veri setinin ortajinal yapısını bozmadı.
Eğer biz sıralanmış yöntemini kullanmak istersek **yeniden atama** yöntemiyle kullanabiliriz.

v.sort() fonksiyonu v nin yapısını bozmuş oldu.

In [107]:
# iki boyutlu array siralama

In [110]:
m = np.random.normal(20,5 , (3,3))

In [111]:
m

array([[19.10382114, 17.90207181, 15.60421162],
       [27.40092578,  7.7515947 , 22.33864445],
       [ 5.35316166, 26.57178411, 23.76979085]])

In [113]:
np.sort(m, axis = 1) # her bir satırı kendi içerisinde küçükten büyüğe sıralamıştır.

array([[15.60421162, 17.90207181, 19.10382114],
       [ 7.7515947 , 22.33864445, 27.40092578],
       [ 5.35316166, 23.76979085, 26.57178411]])

In [115]:
np.sort(m, axis = 0) # her bir sütunu kendi içerisinde küçükten büyüğe sıralamıştır.

array([[ 5.35316166,  7.7515947 , 15.60421162],
       [19.10382114, 17.90207181, 22.33864445],
       [27.40092578, 26.57178411, 23.76979085]])

Bilgiler:
- NumPy array'in boyut bilgisini **shape** metodu verir.
- NumPy array'in boyut sayısını **ndim** metodu verir.
- NumPy array'in toplam eleman sayısını **size** metodu verir.
- NumPy array'in veri tipi bilgisini **dtype** metodu verir.

import numpy as np

In [118]:
np.random.randint(10, size = (3,3,2))

array([[[4, 0],
        [9, 1],
        [6, 5]],

       [[3, 0],
        [2, 5],
        [1, 3]],

       [[1, 1],
        [6, 7],
        [4, 0]]])

---

## Index ile Elemana Erişmek

In [136]:
import numpy as np 
a = np.random.randint(10, size = 10)
a

array([1, 7, 2, 2, 5, 5, 8, 8, 4, 4])

In [137]:
a[0] # klasik kullanım

1

In [138]:
a[0] = 100

In [140]:
a

array([100,   7,   2,   2,   5,   5,   8,   8,   4,   4])

In [141]:
m = np.random.randint(10, size = (3,5))
m

array([[7, 3, 6, 0, 8],
       [3, 3, 4, 7, 4],
       [8, 5, 2, 3, 7]])

In [142]:
m[0,0]

7

In [143]:
m[1,1]

3

In [144]:
m[1,4]

4

In [145]:
m[1, 4] = 99

In [146]:
m

array([[ 7,  3,  6,  0,  8],
       [ 3,  3,  4,  7, 99],
       [ 8,  5,  2,  3,  7]])

In [149]:
m[1,4] = 2.2 # NumPy Arrayler fixed type'tır. 2.2  array int olduğu için 2 olarak alınır.

In [148]:
m

array([[7, 3, 6, 0, 8],
       [3, 3, 4, 7, 2],
       [8, 5, 2, 3, 7]])

## Array Alt Küme İşlemleri(Slicing)

In [150]:
import numpy as np

In [152]:
a = np.arange(20,30)
a

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [153]:
a[0:3]

array([20, 21, 22])

In [154]:
a[:3]

array([20, 21, 22])

In [155]:
a[3:]

array([23, 24, 25, 26, 27, 28, 29])

In [157]:
a[1::2]  # 2. : işaretinden sonra seçilecek sayıların amacı indeksleri kaçar kaçar atlayacağını belirtmektir.

array([21, 23, 25, 27, 29])

In [158]:
a[0::2]

array([20, 22, 24, 26, 28])

In [159]:
a[0::3]

array([20, 23, 26, 29])

In [160]:
# İki boyutlu slice işlemleri

In [161]:
m = np.random.randint(10, size = (5,5))

In [162]:
m

array([[5, 3, 8, 1, 9],
       [3, 5, 3, 8, 9],
       [2, 5, 2, 8, 8],
       [2, 7, 2, 5, 7],
       [0, 3, 3, 7, 0]])

In [164]:
m[:,0] # Bütün satırlar arasından, 0. sütunu seç.

array([5, 3, 2, 2, 0])

In [165]:
m[:,1]

array([3, 5, 5, 7, 3])

In [167]:
m[0,:] # Tüm sütunlar arasından 0. satır.

array([5, 3, 8, 1, 9])

In [169]:
m[0] # 0. satır olarak algılar.

array([5, 3, 8, 1, 9])

In [170]:
m[0:2, 0:3]

array([[5, 3, 8],
       [3, 5, 3]])

In [171]:
m[::,:2]

array([[5, 3],
       [3, 5],
       [2, 5],
       [2, 7],
       [0, 3]])

In [172]:
m[1:3, 0:2]

array([[3, 5],
       [2, 5]])

## Alt Küme Üzerinde İşlem Yapmak

In [174]:
import numpy as np
a = np.random.randint(10, size = (5,5))
a

array([[4, 6, 6, 2, 5],
       [5, 1, 9, 2, 4],
       [5, 3, 9, 5, 7],
       [4, 2, 7, 4, 7],
       [8, 0, 6, 4, 2]])

Bir array'in alt kümesine eriştikten sonra isimlendirip kaydettiğimizi düşünelim, bu kaydetmiş olduğumuz isimlendirme üzerine bir değişiklik yaptığımızda array'in ilk halinde de değişiklik olmakta. Fakat bazen seçilen arrayin alt kümesi üzerinde, o alt kümeye özel işlemler yapılmak istenebilir. Bu durumda **alt kümeleri bağımsızlaştırmak** denilen bir işlem yaparız.

In [175]:
alt_a = a[0:3,0:2]

In [176]:
alt_a

array([[4, 6],
       [5, 1],
       [5, 3]])

In [179]:
alt_a[0,0] = 99
alt_a[1,1] = 888

In [180]:
a

array([[ 99,   6,   6,   2,   5],
       [  5, 888,   9,   2,   4],
       [  5,   3,   9,   5,   7],
       [  4,   2,   7,   4,   7],
       [  8,   0,   6,   4,   2]])

In [181]:
m = np.random.randint(10, size = (5,5))
m

array([[8, 8, 4, 6, 3],
       [3, 0, 8, 2, 4],
       [4, 6, 9, 4, 9],
       [7, 1, 0, 7, 5],
       [7, 4, 1, 0, 3]])

In [183]:
alt_b = m[0:3,0:2].copy()
alt_b

array([[8, 8],
       [3, 0],
       [4, 6]])

In [184]:
alt_b[0,0] = 999

In [185]:
alt_b

array([[999,   8],
       [  3,   0],
       [  4,   6]])

In [186]:
m

array([[8, 8, 4, 6, 3],
       [3, 0, 8, 2, 4],
       [4, 6, 9, 4, 9],
       [7, 1, 0, 7, 5],
       [7, 4, 1, 0, 3]])

## Fancy Index ile Elemanlara Erişmek

Fancy Index kavramı ileride en önemli anlamlardan biri olacak. Pandas'da ve NumPy'da Daha ileri düzey eleman seçme kabiliyeti verir.

In [187]:
import numpy as np
v = np.arange(0, 30, 3)
v

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [188]:
v[1]

3

In [189]:
v[3]

9

In [190]:
v[5]

15

In [191]:
[v[1], v[3], v[5]]

[3, 9, 15]

Elimizde onlarca, belki yüzlerce, binlerce index olduğunda bu index değerlerini 1 kerede sorgulama işlemlerini nasıl yapıyoruz?

In [192]:
al_getir = [1,3,5]

In [193]:
v

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [195]:
v[al_getir] # 1. 3. 5. indeksi getirdi. Buna Fancy Index denir.

array([ 3,  9, 15])

In [196]:
# İki boyutta fancy

In [197]:
m = np.arange(9).reshape((3,3))
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [199]:
satir = np.array([0,1])
sutun = np.array([1,2])

In [200]:
m[satir, sutun]

array([1, 5])

In [201]:
# Basit İndex ile fancy index

In [202]:
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [203]:
m[0, [1,2]]

array([1, 2])

In [206]:
# slice ile fancy

In [205]:
m[0:, [1,2]]

array([[1, 2],
       [4, 5],
       [7, 8]])

---

## KOŞULLU ELEMAN İŞLEMLERİ
Belirli bir array veya matrisde, belirli koşulları sağlayan elemanlar.

In [1]:
import numpy as np
v = np.array([1,2,3,4,5])

In [2]:
v < 3

array([ True,  True, False, False, False])

In [4]:
v[v < 3] # fancy index

array([1, 2])

In [5]:
v[v > 3]

array([4, 5])

In [6]:
v[v >= 3]

array([3, 4, 5])

In [7]:
v[v <= 3]

array([1, 2, 3])

In [8]:
v[v == 3]

array([3])

In [9]:
v[v != 3]

array([1, 2, 4, 5])

In [10]:
v

array([1, 2, 3, 4, 5])

In [11]:
v*2

array([ 2,  4,  6,  8, 10])

In [12]:
v / 5

array([0.2, 0.4, 0.6, 0.8, 1. ])

In [13]:
v*5/10

array([0.5, 1. , 1.5, 2. , 2.5])

In [14]:
v**2

array([ 1,  4,  9, 16, 25])

## MATEMATİKSEL İŞLEMLER

In [15]:
import numpy as np
v = np.array([1,2,3,4,5])

In [16]:
v - 1

array([0, 1, 2, 3, 4])

In [17]:
v * 5

array([ 5, 10, 15, 20, 25])

In [18]:
v / 5

array([0.2, 0.4, 0.6, 0.8, 1. ])

In [19]:
v*5/10 - 1

array([-0.5,  0. ,  0.5,  1. ,  1.5])

### ufunc 
- ufuncs "Evrensel Fonksiyonlar" anlamına gelir ve ndarray nesnesi üzerinde çalışan NumPy fonksiyonlarıdır.
- ufuncs, NumPy'de elemanlar üzerinde yinelemeden çok daha hızlı olan vektörleştirmeyi uygulamak için kullanılır. Ayrıca yayın ve hesaplama için çok yararlı olan reduce, accumulate vb. gibi ek yöntemler sağlarlar.
- Biz matematiksel operatörleri kullanıp işlemler yapsakta, arka tarafta numpy içerisinde tanımlanmış spesifik fonksiyonlar çalıştırılır.

In [ ]:
np.subtract(v, 1) # v - 1

In [25]:
np.add(v, 1) # v + 1

array([2, 3, 4, 5, 6])

In [26]:
np.multiply(v , 4) # v * 4

array([ 4,  8, 12, 16, 20])

In [27]:
np.divide(v, 3) # v / 3

array([0.33333333, 0.66666667, 1.        , 1.33333333, 1.66666667])

In [28]:
v**3

array([  1,   8,  27,  64, 125], dtype=int32)

In [30]:
np.power(v, 3) # v**3

array([  1,   8,  27,  64, 125], dtype=int32)

v % 2

In [32]:
np.mod(v,2) # v%2

array([1, 0, 1, 0, 1], dtype=int32)

In [34]:
np.absolute(np.array([-3])) # |v| mutlak değer

array([3])

In [35]:
np.sin(360)

0.9589157234143065

In [36]:
np.cos(180)

-0.5984600690578581

In [37]:
v = np.array([1,2,3])

In [38]:
np.log(v)

array([0.        , 0.69314718, 1.09861229])

In [39]:
np.log2(v)

array([0.       , 1.       , 1.5849625])

In [40]:
np.log10(v)

array([0.        , 0.30103   , 0.47712125])

In [41]:
?np

Type:        module
String form: <module 'numpy' from 'C:\\Users\\tahaa\\anaconda3\\Lib\\site-packages\\numpy\\__init__.py'>
File:        c:\users\tahaa\anaconda3\lib\site-packages\numpy\__init__.py
Docstring:
NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://numpy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as ``np``::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more  (for Python <= 3.11).

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------

Start IPython and import `numpy` usually under the alias ``np``: `import
numpy as np`.  Then, directly past or use the ``%cpaste`` magic to paste
examples into the shell.  To see which functions are available in `numpy`,
type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [42]:
# cheatsheetlere bakın

## NumPy ile iki Bilinmeyenli Denklem Çözümü

In [45]:
import numpy as np

5 * x0 + x1 = 12

x0 + 3 * x1 = 10

In [47]:
# Bilinmeyen ifadeleri katsayılarını bir vektöre koy, sonuçları bir vektöre koy.
a = np.array([[5,1],[1,3]])
b = np.array([12,10])

In [48]:
a

array([[5, 1],
       [1, 3]])

In [49]:
b

array([12, 10])

In [50]:
x = np.linalg.solve(a, b)
x

array([1.85714286, 2.71428571])

---

# PANDAS GİRİŞ

- Panel Data'nın kısaltılmasıdır.
- NumPy'ın özelliklerini kullanan ve bunları genişleten bir kütüphanedir.
- NumPy'dan farklı olarak Yapısal veri setleriyle, daha esnek bir çalışma ortamı sağlar.
- Pandas sık kullandığımız veri tipi içerisinde, daha farklı veri tipleriyle de çalışabiliyoruz. Kategorik değişkenler ve sürekli değişkenlerle çalışabiliyoruz.(Fixed Type değil)
- Pandas temelinde ekonomik ve finansal verilerle çalışmak için doğmuştur. Panel veri, Zaman serisi çalışmaları için doğmuştur. Panel verisi: Kesit veri ve Zaman serisi verisinin bir arada olduğu veri tipidir. Bu durumda klasik veri tutma yaklaşımları yerine **zaman** indeksini daha fazla önemseyen bir veri tutma söz konusudur.
- Veri manipülasyonu ve veri analizi için yazılmış açık kaynak kodlu bir Python kütüphanesidir.
- R DataFrame yapısını Python dünyasına taşımış ve DataFrame'ler üzerinde hızlı ve etkili çalışabilme imkanı sağlamıştır.

## Pandas Serisi Oluşturmak

- Pandas kütüphanesi kapsamında, ele alacak olduğumuz ana veri tipimiz Pandas DataFrameler olacak.
Yine de Pandas serilerini öğrenmiş olacağız.
- Pandas arraylerin, numpy arraylerinden farklı olarak indeks bilgileri de tutulur.

In [3]:
import pandas as pd

In [5]:
pd.Series([16,53,3,4,5])

0    16
1    53
2     3
3     4
4     5
dtype: int64

Pandas Arrayler'de değerler, indeksleriyle beraber tutulur. İndeks ifadeleri internal(içsel) bir şekilde veri tipinin içerisinde tutulmaktadır. Ayrı bir bileşendir.

In [6]:
seri = pd.Series([16,53,3,4,5])

In [7]:
type(seri)

pandas.core.series.Series

In [8]:
seri.axes

[RangeIndex(start=0, stop=5, step=1)]

In [9]:
seri.dtype

dtype('int64')

In [10]:
seri.size

5

In [11]:
seri.ndim

1

In [13]:
seri.values # array formunda sadece değer bilgileri verilir

array([16, 53,  3,  4,  5], dtype=int64)

In [16]:
seri.head(3) # Serinin, ilk kaç tane gözlemine bakılmak istenirse parantez içerisinde yazılır.

0    16
1    53
2     3
dtype: int64

In [18]:
seri.tail(3) # Serinin, sondan kaç tane gözlemine bakılmak istenirse parantez içerisinde yazılır.

2    3
3    4
4    5
dtype: int64

In [19]:
# İndex isimlendirmesi

In [23]:
pd.Series([123,42,534,32,12], index = [1,3,5,7,9]) # indekslerin isimlendirmesini kendimiz yapabiliriz.

1    123
3     42
5    534
7     32
9     12
dtype: int64

In [26]:
pd.Series([123,42,534,32,12], index = ["a","b","c","d","e"]) # indekslerin isimlendirmesini string değerler 
                                                             # ile de yapabiliriz.

a    123
b     42
c    534
d     32
e     12
dtype: int64

In [42]:
seri = pd.Series([123,42,534,32,12], index = ["a","b","c","d","e"]) # sözlük yapısına benzerdir.

In [43]:
seri["a"]

123

In [44]:
seri["a":"c"] # slice işlemleri

a    123
b     42
c    534
dtype: int64

In [34]:
# sözlük üzerinden liste oluşturmak

In [35]:
sozluk = pd.Series({"reg":10, "log":11, "cart": 12})

In [36]:
sozluk

reg     10
log     11
cart    12
dtype: int64

In [47]:
sozluk = {"reg":10, "log":11, "cart": 12} # sözlük yapısı

In [48]:
seri = pd.Series(sozluk)

In [49]:
seri

reg     10
log     11
cart    12
dtype: int64

In [50]:
# İki seriyi birleştirerek seri oluşturma

In [53]:
pd.concat([seri,seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

## ELEMAN İŞLEMLERİ

In [1]:
import numpy as np
import pandas as pd
a = np.array([11,22,33,44,55])
seri = pd.Series(a)
seri

0    11
1    22
2    33
3    44
4    55
dtype: int32

In [2]:
seri[0]

11

In [3]:
seri[0:3]

0    11
1    22
2    33
dtype: int32

In [4]:
seri = pd.Series([121,200,150,99], index = ["reg","loj","cart","rf"])

In [5]:
seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [6]:
seri.index # sadece index değerlerine erişebiliriz

Index(['reg', 'loj', 'cart', 'rf'], dtype='object')

In [7]:
seri.keys # sadece keys değerlerine erişebiliriz

<bound method Series.keys of reg     121
loj     200
cart    150
rf       99
dtype: int64>

In [8]:
list(seri.items())

[('reg', 121), ('loj', 200), ('cart', 150), ('rf', 99)]

In [10]:
seri.values # sadece values değerlerine erişebiliriz

array([121, 200, 150,  99], dtype=int64)

In [11]:
# eleman sorgulama

In [12]:
"reg" in seri

True

In [14]:
"a" in seri

False

In [15]:
seri["reg"]

121

In [16]:
# Fancy Eleman

In [17]:
seri[["rf", "reg"]]

rf      99
reg    121
dtype: int64

In [20]:
seri["reg"] = 130 # yeniden atama yöntemi

In [21]:
seri["reg"]

130

In [23]:
seri["reg":"cart"]

reg     130
loj     200
cart    150
dtype: int64

## PANDAS DATAFRAME OLUŞTURMA

- Yapısal bir veri tipidir. Excel veri yapısına benzerdir.
- Kategorik ve yapısal veri tiplerini bir arada tutabilir. Fixed Type değildir.
- Daha analitik anlamda, makine öğrenmesi modellerine verecek olduğumuz datasetleri gibi düşünebiliriz.

In [24]:
import pandas as pd

In [25]:
l = [1,2,39,67,90]
l

[1, 2, 39, 67, 90]

In [27]:
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [28]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [30]:
pd.DataFrame(m, columns = ["var1","var2","var3"]) # iki boyutlu data frame oluşturduk.

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [31]:
# df isimlendirme

In [33]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [35]:
df.columns = ("deg1","deg2","deg3")

In [36]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [37]:
type(df)

pandas.core.frame.DataFrame

In [39]:
df.axes # satır ve sütun bilgilerini verir

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [41]:
df.shape

(3, 3)

In [42]:
df.ndim

2

In [43]:
df.size

9

In [46]:
df.values # data frame tipinden değerleri çekip, numpy array nesnesine çevirir

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [45]:
type(df.values)

numpy.ndarray

In [47]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [49]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [50]:
a = np.array([1,2,3,4,5])

In [51]:
pd.DataFrame(a, columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5

## PANDAS DATAFRAME ELEMAN İŞLEMLERİ

In [72]:
import numpy as np
import pandas as pd
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [105]:
# sözlük üzerinden dataframe oluşturmak

In [74]:
sozluk = {"var1": s1, "var2": s2, "var3": s3}

In [75]:
sozluk

{'var1': array([6, 7, 6, 8, 5]),
 'var2': array([5, 6, 1, 9, 8]),
 'var3': array([1, 8, 2, 7, 4])}

In [76]:
df = pd.DataFrame(sozluk)

In [77]:
df

   var1  var2  var3
0     6     5     1
1     7     6     8
2     6     1     2
3     8     9     7
4     5     8     4

In [78]:
df[0:1]

   var1  var2  var3
0     6     5     1

In [79]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [80]:
df.index = ["a","b","c","d","e"]

In [81]:
df

   var1  var2  var3
a     6     5     1
b     7     6     8
c     6     1     2
d     8     9     7
e     5     8     4

In [82]:
df["c":"e"]

   var1  var2  var3
c     6     1     2
d     8     9     7
e     5     8     4

In [83]:
#silme işlemi

In [84]:
df.drop("a", axis = 0) # axis, satır bilgisi verir

   var1  var2  var3
b     7     6     8
c     6     1     2
d     8     9     7
e     5     8     4

In [85]:
df # Veri setinin anayapısı üzerinde bir değişiklik olmadı.

   var1  var2  var3
a     6     5     1
b     7     6     8
c     6     1     2
d     8     9     7
e     5     8     4

In [86]:
df.drop("a", axis = 0, inplace = True) # inplace, DataFrame üzerinde yapılan değişikliğin 
                                       # kalıcı olmasını sağlar.

In [87]:
df

   var1  var2  var3
b     7     6     8
c     6     1     2
d     8     9     7
e     5     8     4

In [88]:
# fancy ile silme işlemi

In [89]:
l = ["c","e"]

In [90]:
df.drop(l, axis = 0, inplace = True)

In [91]:
df

   var1  var2  var3
b     7     6     8
d     8     9     7

In [92]:
# Değişkenler için

In [93]:
"var1" in df

True

In [94]:
l = ["var1", "var4", "var2"]

In [95]:
for i in l:
    print(i in df)

True
False
True

In [96]:
df

   var1  var2  var3
b     7     6     8
d     8     9     7

In [97]:
df["var4"] = df["var1"] / df["var2"] # var4 diye bir değişken olmadığı için atama işlemi 
                                     # yaptığımızda bunu yeni sütun oluşturmak olarak anlar.

In [98]:
df

   var1  var2  var3      var4
b     7     6     8  1.166667
d     8     9     7  0.888889

In [99]:
# defisken silmek

In [100]:
df.drop("var4", axis = 1) # Sütunları bu şekilde sileriz

   var1  var2  var3
b     7     6     8
d     8     9     7

In [101]:
df.drop("var4", axis = 1, inplace = True)

In [102]:
df

   var1  var2  var3
b     7     6     8
d     8     9     7

In [103]:
l = ["var1", "var2"]

In [104]:
df.drop(l, axis = 1)

   var3
b     8
d     7

## GÖZLEM VE DEĞİŞKEN SEÇİMİ (loc & iloc)

In [3]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"]) # değişken isimleri var1 var2 var3
df

   var1  var2  var3
0    20    16     8
1    27    14     1
2    15    21     1
3    11    29     3
4    22    13    18
5    16     7     8
6    23    18     6
7    25     7     7
8    20     2    15
9    22    29     2

In [4]:
# loc: tanımlandığı şekliyle seçim yapmak için kullanılır.

In [9]:
df.loc[0:3] # 3 dahil

   var1  var2  var3
0    20    16     8
1    27    14     1
2    15    21     1
3    11    29     3

In [6]:
# iloc: alışık olduğumuz indexleme mantığıyla seçim yapar.

In [10]:
df.iloc[0:3] # 3 dahil değil

   var1  var2  var3
0    20    16     8
1    27    14     1
2    15    21     1

In [11]:
df.iloc[0,0]

20

In [12]:
df.iloc[:3,:2]

   var1  var2
0    20    16
1    27    14
2    15    21

In [13]:
df.loc[0:3, "var3"]

0    8
1    1
2    1
3    3
Name: var3, dtype: int32

In [16]:
df.iloc[0:3, "var3"] # ValueError: Değişken yada gözlem birimleri(satırlar) ile ilgili mutlak 
                     # bir değer işaretlemesi yapacaksak "loc" u kullanmamız gerekiyor. Kısacası değişken 
                     # isimleri veya gözlem birilerine (index isimlerine) göre işlem yapmak istersek loc'u
                     # tercih etmeliyiz.

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [17]:
df.iloc[0:3]["var3"]

0    8
1    1
2    1
Name: var3, dtype: int32

- Eğer verilen kurallara bağlı bir şekilde, seçim yapılma ihtiyacı varsa loc yapısı kullanılır.
- Eğer verilen isimlendirmelerden bağımsız, klasik index mantığı ile seçim yapmak istiyorum deniyorsa
iloc yapısı kullanılır.

## KOŞULLU ELEMAN İŞLEMLERİ

In [19]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0    22    24     1
1     1    21     3
2     5    28     3
3     6    22    18
4    26     7    21
5    13     4    16
6    11    27     7
7    29    18    27
8     2    13     1
9    27    17    14

In [20]:
df["var1"]

0    22
1     1
2     5
3     6
4    26
5    13
6    11
7    29
8     2
9    27
Name: var1, dtype: int32

In [21]:
df["var1"][0:1]

0    22
Name: var1, dtype: int32

In [22]:
df[0:2]

   var1  var2  var3
0    22    24     1
1     1    21     3

In [25]:
df[0:2][["var1","var2"]] # tek [] ile yaparsak hata alırız. Sadece fancy yardımıyla istediğimizi elde ederiz.

   var1  var2
0    22    24
1     1    21

In [26]:
df

   var1  var2  var3
0    22    24     1
1     1    21     3
2     5    28     3
3     6    22    18
4    26     7    21
5    13     4    16
6    11    27     7
7    29    18    27
8     2    13     1
9    27    17    14

In [27]:
df.var1

0    22
1     1
2     5
3     6
4    26
5    13
6    11
7    29
8     2
9    27
Name: var1, dtype: int32

In [30]:
df[df.var1 > 15] # DataFrame içerisinde, var1 sütundaki 15'ten büyük verileri filtreledi.

   var1  var2  var3
0    22    24     1
4    26     7    21
7    29    18    27
9    27    17    14

In [33]:
df[df.var1 > 15]["var2"] # DataFrame içerisinde, var1 sütundaki 15'ten büyük verileri 
                         # filtreledi ve var2 sütununu yazdırdı.

0    24
4     7
7    18
9    17
Name: var2, dtype: int32

In [35]:
df[(df.var1 > 15) & (df.var3 < 5)]

   var1  var2  var3
0    22    24     1

In [39]:
df.loc[(df.var1 > 15), ["var1","var2"]] # Var1 ve var2 sürunlarında var1 in 15ten büyük olduğu satırlar.

   var1  var2
0    22    24
4    26     7
7    29    18
9    27    17

In [38]:
df[(df.var1 > 15)]["var1"]

0    22
4    26
7    29
9    27
Name: var1, dtype: int32

In [40]:
df[(df.var1 > 15)][["var1","var2"]]

   var1  var2
0    22    24
4    26     7
7    29    18
9    27    17

## BİRLEŞTİRME İŞLEMLERİ

In [43]:
import numpy as np
import pandas as pd
m = np.random.randint(1, 30, size = (5,3))
df1 = pd.DataFrame(m, columns = ["var1","var2","var3"])
df1

   var1  var2  var3
0    17    27     8
1    13    19    23
2    22    17    24
3     5    17    16
4     3    26    23

In [44]:
df2 = df1 + 99

In [45]:
df2

   var1  var2  var3
0   116   126   107
1   112   118   122
2   121   116   123
3   104   116   115
4   102   125   122

In [47]:
pd.concat([df1,df2]) # Birleştirme işlemi

   var1  var2  var3
0    17    27     8
1    13    19    23
2    22    17    24
3     5    17    16
4     3    26    23
0   116   126   107
1   112   118   122
2   121   116   123
3   104   116   115
4   102   125   122

In [49]:
?pd.concat

Signature:
pd.concat(
    objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]',
    *,
    axis: 'Axis' = 0,
    join: 'str' = 'outer',
    ignore_index: 'bool' = False,
    keys=None,
    levels=None,
    names: 'list[HashableT] | None' = None,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
    copy: 'bool | None' = None,
) -> 'DataFrame | Series'
Docstring:
Concatenate pandas objects along a particular axis.

Allows optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series or DataFrame objects
    If a mapping is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised.
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level.
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys.
names : list, default None
    Names for the levels in the resulting hierarchical index.
verify_integrity : bool, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned.

copy : bool, default True
    If False, do not copy data unnecessarily.

Returns
-------
object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
DataFrame.join : Join DataFrames using indexes.
DataFrame.merge : Merge DataFrames by indexes or columns.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

It is not recommended to build DataFrames by adding single rows in a
for loop. Build a list of rows and make a DataFrame in a single concat.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']

Append a single row to the end of a ``DataFrame`` object.

>>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
>>> df7
    a   b
0   1   2
>>> new_row = pd.Series({'a': 3, 'b': 4})
>>> new_row
a    3
b    4
dtype: int64
>>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
    a   b
0   1   2
1   3   4
File:      c:\users\tahaa\anaconda3\lib\site-packages\pandas\core\reshape\concat.py
Type:      function

In [52]:
pd.concat([df1,df2], ignore_index = True) #İndex problemi ortadan kalktı.

   var1  var2  var3
0    17    27     8
1    13    19    23
2    22    17    24
3     5    17    16
4     3    26    23
5   116   126   107
6   112   118   122
7   121   116   123
8   104   116   115
9   102   125   122

In [54]:
df.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [56]:
df2.columns = ["var1","var2","deg3"]

In [57]:
df2

   var1  var2  deg3
0   116   126   107
1   112   118   122
2   121   116   123
3   104   116   115
4   102   125   122

In [58]:
df1

   var1  var2  var3
0    17    27     8
1    13    19    23
2    22    17    24
3     5    17    16
4     3    26    23

In [59]:
pd.concat([df1,df2], ignore_index = True)

   var1  var2  var3   deg3
0    17    27   8.0    NaN
1    13    19  23.0    NaN
2    22    17  24.0    NaN
3     5    17  16.0    NaN
4     3    26  23.0    NaN
5   116   126   NaN  107.0
6   112   118   NaN  122.0
7   121   116   NaN  123.0
8   104   116   NaN  115.0
9   102   125   NaN  122.0

In [67]:
pd.concat([df1,df2], join = "inner", ignore_index = True) # kesişimlerine göre birleştirdi

   var1  var2
0    17    27
1    13    19
2    22    17
3     5    17
4     3    26
5   116   126
6   112   118
7   121   116
8   104   116
9   102   125

In [69]:
pd.concat([df1,df2], join = 'left')

ValueError: Only can inner (intersect) or outer (union) join the other axis