# PYTHON İLE VERİ GÖRSELLEŞTİRME

## BÜYÜK RESMİ GÖRMEK VE VERİYİ TEMSİL ETMEK

- Büyük resmi görmek için en önemli farkındalık, veriyi temsil etmektir.
- Veri yığını arasında veriyi temsil etmek için gerekli çalışmaları yapacağız ve veriyi temsil etme işleminden sonra ortaya çıkan değerleri görselleştirdiğimizde, aslında bir indirgeme ve görselleştirme işlemi yapmış olacağız.
- İşin özeti: Elimizdeki karmaşık yapıları öyle güzel ifade edeceğiz ki, karmaşık yapının taşıdığı bilgiyle ortama çıkardığı anlam ile temsil ettiğimiz basit yapılar aynı şeyleri ifade ediyor olacak. Bu sayede daha rahat ve kolay yorumlama yapabilme imkanı sağlayacak.

***Keşifçi Veri Analizi:*** Betimsel istatistikler, veri görselleştirme teknikleri ve iş çıktısı hedefiyle veri üzerinde çalışmaktır.
*Veri bilimcinin özgürce çalışabildiği, söz konusu olmayan yeni bulgulara ulaşabileceği, yeni iş fikirleri, yeni işe yarar sonuçlara ulaşabileceği, sorular sorarak, hipotezler kurarak ilerlediği süreçtir.*

## PYTHON İLE VERİ GÖRSELLEŞTİRME

&#8594; Matplotlib: Veri Görselleştirmenin Büyük Babası

&#8594; Pandas: Veri görselleştirme için de çok zengin bir kullanımı vardır.

&#8594; Seaborn: Matplotlib üzerine inşaa edilmiş bir veri görselleştirme kütüphanesidir. Bize istediğimiz işlemleri daha kolay yapmamızı sağlar. İstatistiksel grafikleri, veri taşıyan grafikleri çok daha kolay elde etmemizi sağlar.

&#8594; ggplot: Veri görselleştirmede dünyanın en iyi araçlarından biridir. Kullanıcıya başlangıç düzeylerinden ileri düzeylere kadar veri görselleştirme imkanları sağlanır.

&#8594; Bokeh: İnteraktif veri görselleştirme kütüphanesidir. Büyük veri setlerini ve akan veri setlerini yüksek performanslı olarak interaktif şekilde sunabilmektedir.

&#8594; Plot.ly: İnteraktif veri görselleştirme imkanı sağlar.

### Veriye İlk Bakış

In [41]:
## Veri Setinin Hikayesi ve Yapısının İncelenmesi

In [13]:
import seaborn as sns
planets = sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

&#8594; **İlk sorulacak soru şudur: Veri setinin hikayesi nedir?**

In [17]:
df = planets.copy()

In [19]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [21]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [23]:
# Veri seti yapısal bilgileri

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [27]:
# object: kategorik değişken olarak düşünülür

In [29]:
df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [33]:
# Bazı fonksiyonlar, object'i kategorik değişken olarak değil de string olarak algılıyor. 
# Bundan dolayı genel olarak object gördüğümüz zaman bunun dönüşümünü yapmamız, daha sağlık bir çalışma ortamı
# sunar.

In [35]:
import pandas as pd
df.method = pd.Categorical(df.method)

In [37]:
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

In [39]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009